<div id="preamble" class="status">
  <header>
    <h1><a href="https://www.vandee.art/blog/">Vandee's Blog</a></h1>
    <img class="shiba" width="100px" src="assets/shiba_gif/shiba_idle_8fps.gif">
    <nav>
      <a href="https://www.vandee.art/blog/">Home</a>
      <a href="https://x404.xyz/wiki">Wiki</a>
      <a href="https://x404.xyz/photo">Photo</a>
      <a href="projects.html">Projects</a>
      <a href="archive.html">Archive</a>
      <a href="tags.html">Tags</a>
      <div id="search-container">
        <input type="text" id="search-input" placeholder="e.g. Emacs PKM...">
        <i class="ri-search-line ri-xl"></i>
      </div>
    </nav>
  </header>
</div>
